*{
    margin: 0;
    padding: 0;
    color: #484848;
    font-size: 14px;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;

}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}

img{
            
    margin-left: 20px;
    margin-top: 20px;
}
p{
    text-align: center;
}